/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 28, 2025, 8:13:06 AM
    Author     : admin
*/

.Main {
    -fx-background-color: #121212;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
        -fx-max-height: 700;
        
}
.Title {
    -fx-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 40;
    -fx-stroke:gold;
    -fx-stroke-width: 3;
}
.Button{
    -fx-font-size: 20;
    -fx-pref-width: 200;
    -fx-background-color: #333333;
    -fx-text-fill: #FFFFFF;
}
.Input {
    -fx-pref-width: 200;
    -fx-padding: 5;
}


