/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 28, 2025, 8:13:46 AM
    Author     : admin
*/
.Main {
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
            -fx-max-height: 700;
}
.Title {
    -fx-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 40;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
}
.Button{
    -fx-font-size: 20;
    -fx-pref-width: 200;
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #000000;

}
.Input {
    -fx-pref-width: 200;
    -fx-padding: 5;
}